/* pages/search/search.wxss */
.onClick {
  margin-left: 10px;
  margin-right: 10px;
  background: rgb(122, 196, 138);
  border-radius: 8px;
  width: 50px;
  text-align: center;
  font-size: 14px;
  color: rgba(21, 67, 95, 0.7);
}

.house {
  margin: 10px;
  background: rgb(122, 196, 138);
}
